[Unit]
Description=Wind Monitor Combined Service
After=network.target

[Service]
Type=simple
ExecStart=/home/garges/WindMonitor/start_wind_monitor.sh
WorkingDirectory=/home/garges/WindMonitor
User=garges
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
